<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Guests</title>
</head>
<body>
<a href="/">Home Page</a> <br>
<h1>Welcome To Guests Page</h1>

<table>
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email</td>
        <td>Phone Number</td>
    </tr>
    <tr th:each="guest: ${guests}">
        <td th:text="${guest.firstName}">First Name</td>
        <td th:text="${guest.lastName}">Last Name</td>
        <td th:text="${guest.email}">Email</td>
        <td th:text="${guest.phoneNumber}">Phone Number</td>
    </tr>
</table>
</body>
</html>
